<div class="header">
    <% if (teachersView) { %>
        <div class="row">
            <p>Student Enrollment Form
                <a href="/logout" class="btn btn-danger my-2 my-sm-0 alignlogout">Logout</a>
              </p>
          </div>
    <% } %>
    <% if (!teachersView) { %>
        <p>Result Management System</p>
    <% } %>
    
</div>