<div class="home">
    <b><p style="margin-left: 7%;">Login As</p></b>
    <a href="/teacher" type="button" class="btn btn-primary">Teacher</a>&nbsp;&nbsp;&nbsp;
    <a href="/student" type="button" class="btn btn-primary">Student</a>
</div>

